{% extends "layout.html" %}

{% block content %}

<style>
h2 {
    text-align: center;
    padding-bottom: 12px;
}
.text-right {
    text-align: right;
    justify-content: right;
}

</style>
<div class="row">
    <div class="col-sm-5 center-column ">
        <h2>Login</h2>
        <form action="." method="post">
            {% csrf_token %}
            
            
            <div class="form-group row">
                <div class="col-xs-4 text-right" >
                    <label for="id_username" class="control-label">Email</label>
                </div>
               

                <div class="col-xs-8">
                    {{ form.username }}
                    </div>

            </div>

            <div class="form-group row">
                <div class="col-xs-4 text-right" >
                <label for="id_password" class="control-label">Password</label>
                </div>
                <div class="col-xs-8">
                    {{ form.password }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-4"></div>
                <div class="col-xs-8">
                    <input type="hidden" name="next" value="/" />
                    <input type="submit" value="Log in" class="btn btn-primary" />
                </div>
            </div>




            {% if form.errors %}
            <p class="validation-summary-errors">Please enter a correct user name and password.</p>
            <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it here </a></p>
            {% endif %}
            <a href="../account/register">Need an Account?</a>
        </form>
    </div>


</div>

{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
