{% extends "app/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <section id="passwordresetForm">
            <br /><br />
<form method="post" class="form-horizontal">

    {% csrf_token %}

    <div class="form-group">
                    <label for="id_email" class="col-md-4 control-label">Enter Account Email</label>
                    <div class="col-md-8">
                        {{ form.email }}
                    </div>
    </div>


    {% if form.errors %}
        <p class="validation-summary-errors">Please enter a valid email</p>
    {% endif %}
        <br />
    <button class="btn btn-primary" type="submit">Submit</button>

</form>
</section>
    </div>
    </div>
{% endblock %}