{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-7 center-column">

        <h2>Assigned Goals:</h2>
        {% if not userGoals %}
            <h4>You don't have any goals assigned!</h4>
        {% else %}
        {% for userGoal in userGoals %}
        <div class="item-row">
            <form action = "" method="POST">
                {% csrf_token %}
                {{ removeForm }}
                
                <input type="hidden" name="userGoalID" value="{{userGoal.id}}" />
                <input type="submit" value="Remove" name="remove" class="btn btn-danger" /><b> {{userGoal}}</b>
            </form>
        </div>
        {% endfor %}
        {% endif %}
        

        <br>
        <h2>Available Goals:</h2>
        {% if not goals %}
            <h4>There are no more goals available!</h4>
        {% else %}
        {% for goal in goals %}
        <div class="item-row">
            <form action = "" method="POST">
                {% csrf_token %}
                {{ assignForm }}

                <input type="hidden" name="goalID" value="{{goal.id}}" />
                <input type="submit" value="Assign" name="assign" class="btn btn-primary" /><b> {{goal.goal_title}}</b>
            </form>
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>



{% endblock %}
