{% extends "layout.html" %}

{% block content %}
<style>
    h1 {
        margin: 10px auto 20px;
        text-align: center;
        font-size: 40px;
    }
    h4 {
        padding: 0px;
    }
    p {
        font-size: 18px;
    }
</style>

<br />
<div class="row">
    <div class="col-md-9 center-column">
        <h1>Bright Horizons</h1>
        <p>

<h4><b>Problem</b></h4>
College students and job seekers have uncertain, and often complex, 
paths to fulfill career objectives. Because their goals seem so far away, they often lack the drive and organization required to complete their short-term tasks.
<br /><br />

<h4><b>Solution</b></h4>
An application that provides a mechanism to develop roadmaps and rewards as <i>incentive</i> for
accomplishing objectives. The application allows learner and accreditor roles, each has their own functions.
The objective of the app is to develop tasks and complete them for points that can be redeemed for prizes, such as certification vouchers and educational benefits.
<br /><br />

<h4><b>Technical</b></h4>
This app was fully developed in Python using the Django framework for secure work with the database. The front-end uses Bootstrap to support mobile users.

<br /><br />
Built for the 2020 Raytheon sponsored Annual ECPI Hack-a-thon.


</p>
</div>
</div>
{% endblock %}
